RewriteEngine On
RewriteRule ^upload$ index.php?do=upload [L,NC,QSA]
RewriteRule ^tools$ index.php?do=tools [L,NC,QSA]
RewriteRule ^logout$ action.php?do=logout [L,NC,QSA]
RewriteRule ^myfiles$ index.php?do=myfiles [L,NC,QSA]
RewriteRule ^register$ index.php?do=register [L,NC,QSA]
RewriteRule ^settings$ index.php?do=settings [L,NC,QSA]
RewriteRule ^contact$ index.php?do=contact [L,NC,QSA]
RewriteRule ^admin$ index.php?do=admin [L,NC,QSA]
RewriteRule ^forgot$ index.php?do=forgot [L,NC,QSA]
RewriteRule ^rules$ index.php?do=rules [L,NC,QSA]
RewriteRule ^tools/(.*)$ index.php?do=tools&act=$1 [L,NC,QSA]
RewriteRule ^admin/(.*)$ index.php?do=admin&act=$1 [L,NC,QSA]
RewriteRule ^links/(.*)$ index.php?do=links&id=$1 [L,NC,QSA]
RewriteRule ^active/(.*)$ index.php?do=active&id=$1 [L,NC,QSA]
RewriteRule ^gallery/(.*)$ index.php?do=gallery&id=$1 [L,NC,QSA]
RewriteRule ^restore/(.*)$ index.php?do=restore&id=$1 [L,NC,QSA]
RewriteRule ^profile/(.*)$ index.php?do=profile&id=$1 [L,NC,QSA]
RewriteRule ^captcha.jpg$ cap.php [L,NC,QSA]
